---
downloads: ~/.ansible-downloads/

configure_dotfiles: yes
configure_sudoers: no
configure_terminal: no
configure_osx: no

dotfiles_repo: https://github.com/stackedsax/dotfiles.git
dotfiles_repo_accept_hostkey: yes
dotfiles_repo_local_destination: ~/dotfiles
dotfiles_files:
  - .ssh
  - .bash_aliases
  - .bash_profile
  - .bashrc
  - .gitconfig
  - .nanorc
  - .profile
  - .screenrc
  - .taskrc
  - .tmux.conf
  - .zshrc

homebrew_installed_packages:
  - bash
  - bash-completion@2
  - bash-git-prompt
  - bat
  - cgoban
  - dust
  - exa
  - fd
  - fzf
  - gh
  - git
  - gpg
  - htop
  - hub
  - ipython
  - jupyterlab
  - k9s
  - kind
  - nano
  - numpy
  - pyenv
  - pipenv
  - ripgrep
  - rsync
  - tldr
  - watch
  - wget
  - wtf

homebrew_taps:
  - homebrew/core
  - homebrew/cask
  - homebrew/autoupdate
  - homebrew/cask-drivers

homebrew_cask_appdir: /Applications
homebrew_cask_apps:
  - 1password
  - ableton-live-suite
  - brave-browser
  - cheatsheet
  - coconutbattery
  - discord
  - gitkraken
  - gitup
  - google-chrome
  - google-cloud-sdk
  - handbrake
  - irccloud
  - iterm2
  - julia
  - launchcontrol
  - macdown
  - nativedisplaybrightness
  - obs
  - plex
  - rectangle
  - signal
  - skype
  - slack
  - sonos
  - spotify
  - stea
  - sublime-text
  - vcv-rack
  - visual-studio-code
  - vlc
  - whatsapp
  - zenith
  - zoom

# See `geerlingguy.mas` role documentation for usage instructions.
mas_installed_apps:
  - { id: 722444976, name: "Anytune" }
  - { id: 424389933, name: "Final Cut Pro" }
  - { id: 682658836, name: "GarageBand" }
  - { id: 409035833, name: "iReal Pro" }
  - { id: 634148309, name: "Logic Pro" }
  - { id: 585829637, name: "Todoist" }
  - { id: 1432731683, name: "Adblock Plus for Safari ABP" }
  - { id: 784801555, name: "Microsoft OneNote" }
  

mas_email: ""
mas_password: ""

osx_script: "~/.osx --no-restart"

extra_args: "--user"

# Install packages from other package managers.
# Note: You are responsible for making sure the required package managers are
# installed, eg. through homebrew.
composer_packages: []
  # - name: drush
  #   state: present # present/absent, default: present
  #   version: "^8.1" # default: N/A
gem_packages: []
  # - name: bundler
  #   state: present # present/absent/latest, default: present
  #   version: "~> 1.15.1" # default: N/A
npm_packages: []
  # - name: webpack
  #   state: present # present/absent/latest, default: present
  #   version: "^2.6" # default: N/A
pip_packages:
  # - name: pipsi
  # - name: pygments
  #   state: present # present/absent/latest, default: present
  #   version: "0.16.3" # default: N/A

# Glob pattern to ansible task files to run after all other tasks are finished.
post_provision_tasks: []

